.about-section {
  /*  width: 100%; */
    padding: 2rem;
}


.about-image-container {
    
    width: 30%;
    height: 100%;
}

.about-image-container img {
    width: 60%;

    object-fit: cover;
    object-position: center 50%;
}

.about-description-container{
    border: solid 1px rgba(220, 20, 60, 0);
    width: 60%;
}


.label-list{
    width: 70%;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
}

.project-card{
    background-color: rgba(137, 43, 226, 0.575);
    width: 25rem;
    display: flex;
    padding: 0.5rem;
    border-radius: 1%;
}

.project-card:hover {
    opacity: 0.5;
    border: solid 1px var(--primary-color-100);
}

.project-card img {
    width: 100%;
}

.skills-list {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
}

a p:nth-child(2){
    font-weight: bolder;
    font-size: 1.1rem;
    margin: 0.5rem 0px;
    color: var(secondary-color-300)
}

a p:nth-child(3){
    font-style: italic;
}

a p:nth-child(4){
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    margin-top: 0.5rem;
}

.projects-list{
    margin: 2rem 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}


