.about-section {
  /*  width: 100%; */
    padding: 2rem;
}


.about-image-container {
    
    width: 30%;
    height: 100%;
}

.about-image-container img {
    width: 60%;

    object-fit: cover;
    object-position: center 50%;
}

.about-description-container{
    border: solid 1px rgba(220, 20, 60, 0);
    width: 60%;
}


.label-list{
    width: 70%;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
}